<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- d3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- Scrollama -->
    <script src="https://unpkg.com/scrollama"></script>

    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">

    <!-- js leaflet -->
    <script type="module" src="{% static 'js/leaflet.js' %}"></script>
    <script type="module" src="{% static 'js/leaflet-scroll.js' %}"></script>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />


    <title>JERSEY</title>
</head>

<body>
    <main>
        <div class="container my-5"></div>
        <section id="scrolly">
            <article>
                <div class="step">
                    <div class="container site-header">
                        <h1 id="title">Is Central Jersey Real?</h1>
                    </div>
                    <div class="container description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus provident dolores quas consectetur sequi quisquam possimus repellendus. Excepturi porro nesciunt distinctio eos perspiciatis accusamus eum, in nostrum, neque incidunt qui?
                    </div>
                </div>
                <div class="step" data-step="4" value="wawa_id" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">WAWAs</p>
                    <div class="container description">
                        Per 100,000 residents
                    </div>
                    <div class="map-container-4"></div>
                </div>
                <div class="step" data-step="5" value="giants_or_jets" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">NFL: GIANTS/JETS FANS</p>
                    <div class="container description">
                        As a percentage of Giants, Jets, Eagles fans (NJ.com poll)
                    </div>
                    <div class="map-container-5"></div>
                </div>
                <div class="step" data-step="6" value="pork_roll" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">PORK ROLL</p>
                    <div class="container description">
                        Percentage of people who say Por Roll instead of Taylor Ham (NJ.com poll)
                    </div>
                    <div class="map-container-6"></div>
                </div>

                <div class="step" data-step="8" value="loc" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Prediction</p>
                    <div class="container description">
                        prediction
                    </div>
                    <div class="map-container-8"></div>
                </div>
                
                <div class="container">
                    <p class="subtitle">Model Inputs</p>
                    <div class="container description">
                        inputs
                    </div>
                    <div class="mx-auto text-center">
                        <img src="{% static 'images/barplot.png' %}" alt="" class="barplot">
                    </div>
                </div>

                <div class="step" data-step="1" value="pob_foreign_born" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">FOREIGN BORN POPULATION</p>
                    <div class="container description">
                        Percentage of the population that was born outside of the United States.
                    </div>
                    <div class="map-container-1"></div>
                </div>
                <div class="step" data-step="2" value="asian_pop" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">ASIAN POPULATION</p>
                    <div class="container description">
                        Percentage of the population that is Asian.
                    </div>
                    <div class="map-container-2"></div>
                </div>
                <div class="step" data-step="3" value="edu_college" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">COLLEGE EDUCATED</p>
                    <div class="container description">
                        Percentage of the population with college degrees.
                    </div>
                    <div class="map-container-3"></div>
                </div>
                <div class="step" data-step="7" value='occu_Management, business, science, and arts occupations:' map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Management, Business, Science</p>
                    <div class="container description">
                        Percentage of the population that works in Management, Business, Science
                    </div>
                    <div class="map-container-7"></div>
                </div>
                <div class="step" data-step="9" value='occu_Production, transportation, and material moving occupations:' map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Production, Transportation, Material Moving</p>
                    <div class="container description">
                        Percentage of the population that works in Production, Transportation, Material Moving
                    </div>
                    <div class="map-container-9"></div>
                </div>
                <div class="step" data-step="10" value='occu_Transportation and warehousing, and utilities' map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Transportation, Warehousing, Utilities</p>
                    <div class="container description">
                        Percentage of the population that works in Transportation, Warehousing, Utilities
                    </div>
                    <div class="map-container-10"></div>
                </div>
            </article>
            <figure>
                <div id="map"></div>
            </figure>
        </section>
        <section id="outro"></section>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>
</body>
<script>
    var geojson_url = "/static/geojson/merged_counties.geojson";
    
    const dropdownItems = document.querySelectorAll(".dropdown-item");
    const dropdownButton = document.querySelector(".dropdown-toggle");

</script>


</html>