<!DOCTYPE html>
{% extends 'mapapp/base.html' %}
{% block body_block %}
{% load static %}
<div class="container my-5"></div>
<section id="scrolly">
    <article>
        <div class="step title-step">
            <div class="container site-header">
                <h1 id="title">Is Central Jersey Real?</h1>
            </div>
            <div class="container description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus provident dolores quas
                consectetur sequi quisquam possimus repellendus. Excepturi porro nesciunt distinctio eos
                perspiciatis accusamus eum, in nostrum, neque incidunt qui?
            </div>
        </div>
        <div class="main-carousel" data-flickity='{ "wrapAround": true }'>
            <div class="carousel-cell">
                <div class="step" value="wawa_id" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">WAWAs</p>
                    <div class="container description">
                        Per 100,000 residents
                    </div>
                    <div class="map-container" value="wawa_id"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="giants_or_jets" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">NFL: GIANTS/JETS FANS</p>
                    <div class="container description">
                        As a percentage of Giants, Jets, Eagles fans (NJ.com poll)
                    </div>
                    <div class="map-container" value="giants_or_jets"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="pork_roll" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">PORK ROLL</p>
                    <div class="container description">
                        Percentage of people who say Por Roll instead of Taylor Ham (NJ.com poll)
                    </div>
                    <div class="map-container" value="pork_roll"></div>
                </div>
            </div>
        </div>

        <div class="step"  map="/static/geojson/merged_tracts.geojson">
            <p class="subtitle">Prediction</p>
            <div class="container description">
                prediction
            </div>
            <div class="placeholder"></div>
            <div class="map-container"></div>
        </div>

        <div class="container">
            <p class="subtitle">Model Inputs</p>
            <div class="container description">
                inputs
            </div>
            <div id="my_dataviz" class="barplot"></div>
        </div>
        
        <div class="main-carousel-demographics" data-flickity='{ "wrapAround": true }'>
            <div class="carousel-cell">
                <div class="step" value="pob_foreign_born" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">FOREIGN BORN POPULATION</p>
                    <div class="container description">
                        Percentage of the population that was born outside of the United States.
                    </div>
                    <div class="placeholder"></div>
                    <div class="map-container" value="pob_foreign_born"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="asian_pop" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">ASIAN POPULATION</p>
                    <div class="container description">
                        Percentage of the population that is Asian.
                    </div>
                    <div class="placeholder"></div>
                    <div class="map-container" value="asian_pop"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="edu_college" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">COLLEGE EDUCATED</p>
                    <div class="container description">
                        Percentage of the population with college degrees.
                    </div>
                    <div class="placeholder"></div>
                    <div class="map-container" value="edu_college"></div>
                </div>
            </div>
        </div>

        <div class="main-carousel-occupations" data-flickity='{ "wrapAround": true }'>
            
            <div class="carousel-cell">
                <div class="step" value='occu_Management, business, science, and arts occupations:'
                    map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Management, Business, Science</p>
                    <div class="container description">
                        Percentage of the population that works in Management, Business, Science
                    </div>
                    <div class="placeholder"></div>
                    <div class="map-container" value="occu_Management, business, science, and arts occupations:"></div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="step" value='occu_Production, transportation, and material moving occupations:'
                    map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Production, Transportation, Material Moving</p>
                    <div class="container description">
                        Percentage of the population that works in Production, Transportation, Material Moving
                    </div>
                    <div class="placeholder"></div>
                    <div class="map-container" value="occu_Production, transportation, and material moving occupations:"></div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="step" value='occu_Transportation and warehousing, and utilities'
                    map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Transportation, Warehousing, Utilities</p>
                    <div class="container description">
                        Percentage of the population that works in Transportation, Warehousing, Utilities
                    </div>
                    <div class="placeholder"></div>
                    <div class="map-container" value="occu_Transportation and warehousing, and utilities"></div>
                </div>
            </div>

        </div>
    </article>
    <figure>
        <div id="map" class="mx-auto"></div>
    </figure>
</section>
<section id="outro"></section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script>
    var mapObject = document.querySelector("#map");
    var mapContainers = {};
    document.querySelectorAll(".step").forEach(function (step){
        if (step.hasAttribute("value")){
            var i = step.getAttribute('value')
            console.log(i)
            mapContainers[i] = document.querySelectorAll(`.map-container[value="${i}"]`)[0]
        }
    });

    var geojson_url = "/static/geojson/merged_counties.geojson";

    const dropdownItems = document.querySelectorAll(".dropdown-item");
    const dropdownButton = document.querySelector(".dropdown-toggle");
</script>


{% endblock %}