<!DOCTYPE html>
{% extends 'mapapp/base.html' %}
{% block body_block %}
{% load static %}
<div class="container my-5"></div>
<section id="scrolly">
    <article>
        <div class="step title-step">
            <div class="container site-header">
                <h1 id="title">Is Central Jersey Real?</h1>
            </div>
            <div class="container narrative lead">
                For many years, the question of the existence of a "Central Jersey"
                has been a subject of much contention among Garden State residents.
                As a non-native New Jerseyan who's never eaten "pork roll"
                or "taylor ham", I wouldn't dare feign the hubris to settle
                this debate -- but I can certainly share some data.
                <br><br>
                The analysis below uses data on dialects, demographics,
                occupations, income, education, and NFL loyalties. Using
                a statistical model, I test for the existence of a third,
                central region.
                <br><br>
                The question is not necessarily whether a clear and distinct
                cultural identity uniquely defines a Central Jersey. Rather,
                it may be better to ask whether the boundary between the North and South
                is fuzzy enough and large enough that there could be a Jersey
                that is neither too New York nor too Philadelphia -- but perhaps..
                just right?
                <br><br>
                I'll start with some of the underlying data, then show the
                model's predictions. A good place to kick off the debate would
                be Wawas or Dunkin? Pork Roll or Taylor Ham? Eagles or Giants/Jets?
            </div>
        </div>
        <div class="carousel main-carousel" data-flickity='{ "wrapAround": true, "draggable": false}'>
            <div class="carousel-cell">
                <div class="step" value="wawa_id" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">WAWAs</p>
                    <div class="container description">
                        Per 100,000 residents
                    </div>
                    <div class="map-container" value="wawa_id"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="dunkin_id" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">Dunkins</p>
                    <div class="container description">
                        Per 100,000 residents
                    </div>
                    <div class="map-container" value="dunkin_id"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="giants_or_jets" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">NFL: GIANTS/JETS FANS</p>
                    <div class="container description">
                        As a percentage of Giants, Jets, Eagles fans (NJ.com poll)
                    </div>
                    <div class="map-container" value="giants_or_jets"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="pork_roll" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">PORK ROLL</p>
                    <div class="container description">
                        Percentage of people who say Por Roll instead of Taylor Ham (NJ.com poll)
                    </div>
                    <div class="map-container" value="pork_roll"></div>
                </div>
            </div>
        </div>

        <div class="step narrative-step">
            <div class="container narrative">
                Next, we look at dialects... do you say "calm" with the "l" or
                "cahm"? Do you say "forward" with the "r" or is it "fohwud"?
                Do you put clothes in a "draw" or a "drawer"?
                <br><br>
                (Thanks to Dale F. Coye of Thomas Edison State College for this
                data in his paper "Dialect Boundaries in New Jersey" (2009))
            </div>
        </div>

        <div class="carousel main-carousel-dialects" data-flickity='{ "wrapAround": true, "draggable": false }'>
            <div class="carousel-cell">
                <div class="step" value="calm-no-l" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">"Calm" without the L</p>
                    <div class="container description">
                        Percentage of the population that drops the "l" in "calm".
                    </div>
                    <div class="map-container" value="calm-no-l"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="almond-no-l" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">"Almond" without the L</p>
                    <div class="container description">
                        Percentage of the population that drops the "l" in "almond".
                    </div>
                    <div class="map-container" value="almond-no-l"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="forward-no-r" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">"Forward" without the R</p>
                    <div class="container description">
                        Percentage of the population that drops the "r" in "forward".
                    </div>
                    <div class="map-container" value="forward-no-r"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="drawer" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">"Draw" not "Drawer"</p>
                    <div class="container description">
                        Percentage of the population that says "drawer" instead of "draw".
                    </div>
                    <div class="map-container" value="drawer"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="gone-don" map="/static/geojson/merged_counties.geojson">
                    <p class="subtitle">"Gone" like "don" not "dawn"</p>
                    <div class="container description">
                        Percentage of the population that says "gone" like "don" instead of "dawn".
                    </div>
                    <div class="map-container" value="gone-don"></div>
                </div>
            </div>
        </div>

        <div class="step narrative-step">
            <div class="container narrative">
                And of course demographics: who are the people that live in these
                regions? Were they born in the states? Are they Asian? Did they graduate
                college?
            </div>
        </div>

        <div class="carousel main-carousel-demographics" data-flickity='{ "wrapAround": true, "draggable": false }'>
            <div class="carousel-cell">
                <div class="step" value="pob_foreign_born" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">FOREIGN BORN POPULATION</p>
                    <div class="container description">
                        Percentage of the population that was born outside of the United States.
                    </div>
                    <div class="map-container" value="pob_foreign_born"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="white_pop" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">WHITE POPULATION</p>
                    <div class="container description">
                        Percentage of the population that is White.
                    </div>
                    <div class="map-container" value="white_pop"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="asian_pop" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">ASIAN POPULATION</p>
                    <div class="container description">
                        Percentage of the population that is Asian.
                    </div>
                    <div class="map-container" value="asian_pop"></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="step" value="edu_college" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">COLLEGE EDUCATED</p>
                    <div class="container description">
                        Percentage of the population with college degrees.
                    </div>
                    <div class="map-container" value="edu_college"></div>
                </div>
            </div>
        </div>

        <div class="step narrative-step">
            <div class="container narrative">
                What industry do they work in? There are 18 industry categories
                in Census data and all were included in the model.
                Below are maps for just 4 of these:
            </div>
        </div>

        <div class="carousel main-carousel-occupations" data-flickity='{ "wrapAround": true, "draggable": false }'>

            <div class="carousel-cell">
                <div class="step" value='occu_Manufacturing' map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Manufacturing</p>
                    <div class="container description">
                        Percentage of the population that works in Manufacturing
                    </div>
                    <div class="map-container" value="occu_Manufacturing"></div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="step" value='occu_educational/healthcare/social'
                    map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Health Care and Social Assistance, Educational Services</p>
                    <div class="container description">
                        Percentage of the population that works in Health Care and Social Assistance, Educational
                        Services
                    </div>
                    <div class="map-container" value="occu_educational/healthcare/social"></div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="step" value='occu_Wholesale trade' map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Wholesale Trade</p>
                    <div class="container description">
                        Percentage of the population that works in Wholesale Trade
                    </div>
                    <div class="map-container" value="occu_Wholesale trade"></div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="step" value='occu_Service occupations:' map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Service</p>
                    <div class="container description">
                        Percentage of the population that works in Service
                    </div>
                    <div class="map-container" value="occu_Service occupations:"></div>
                </div>
            </div>
        </div>

        <div class="step narrative-step">
            <div class="container narrative">
                Using a simple logistic regression, I trained the model using the
                following as "NORTH Jersey": Bergen, Union, Essex, Hudson,
                Morris, Passaic, Sussex, and Warren. And used the following as
                "SOUTH Jersey": Atlantic, Burlington, Camden, Cape May,
                Gloucester, and Salem. For each of these counties, the Census
                tracts were given the labels "North" or "South". Then, I asked
                the model to make predictions on all Census tracts. The results
                are plotted below.
            </div>
        </div>

        <div class="carousel main-carousel-prediction-solo" data-flickity='{ "wrapAround": true, "draggable": false }'>
            <div class="carousel-cell">
                <div class="step" value="loc" map="/static/geojson/merged_tracts.geojson">
                    <p class="subtitle">Prediction</p>
                    <div class="container description">
                        prediction
                    </div>
                    <div class="map-container" value="loc"></div>
                </div>
            </div>
        </div>

        <div class="step narrative-step">
            <div class="container narrative">
                The barplot below shows the features that were used in the model
                on the y-axis and coefficients on the x-axis. The red bars
                indicate variables that suggest a tract belongs to South Jersey
                and blue bars indicate variables that suggest a tract belongs
                to the North.
                <br><br>
                It does appear that there is a clear region that is neither
                not North enough nor South enough. But is the strip of light blue
                to light orange stretching from Hunterdon to Ocean substantial
                enough to be an independent entity? Or is it just a footnote
                in the battle between North and South?
            </div>
        </div>

        <div class="step model-barplot-step">
            <div class="container">
                <p class="subtitle">Model Inputs</p>
                <div class="container description">
                    inputs
                </div>
                <div id="my_dataviz" class="barplot"></div>
            </div>
        </div>


    </article>
    <figure>
        <div id="map" class="mx-auto"></div>
    </figure>
</section>
<section id="outro"></section>
<footer>
    <p>
      Visit me at:
      <a href="https://chansoosong.com/">chansoosong.com</a> |
      <a href="https://github.com/chansooligans">GitHub</a> |
      <a href="https://www.linkedin.com/in/chansoosong/">LinkedIn</a>
    </p>
  </footer>


<script>
    var mapObject = document.querySelector("#map");
    var mapContainers = {};
    document.querySelectorAll(".step").forEach(function (step) {
        if (step.hasAttribute("value")) {
            var i = step.getAttribute('value')
            mapContainers[i] = document.querySelectorAll(`.map-container[value="${i}"]`)[0]
        }
    });

    var geojson_url = "/static/geojson/merged_counties.geojson";

    const dropdownItems = document.querySelectorAll(".dropdown-item");
    const dropdownButton = document.querySelector(".dropdown-toggle");
</script>


{% endblock %}