/* static/css/tscoop.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #8bbdff2e;
    background-image: url("../images/transparent-icecream-cone-4percent.png");
    background-size: 3rem;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
}

h1,
h5 {
    font-size: 2.5rem;
    color: #4a4a4a;
    font-family: 'Pacifico', cursive;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

form {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border: none;
}

.form-group {
    position: relative;
}

.keyword-bubble {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    background-color: #f5a623;
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
}

.keyword-bubble .remove {
    margin-left: 5px;
    cursor: pointer;
}

#keywords-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    /* border: 1px solid #cccccc; */
    border-radius: 5px;
    padding: 5px;
}

input[type="text"].form-control {
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 0;
}

button[type="submit"] {
    background-color: #f5a623;
    border: none;
}

input[type="email"] {
    width: 100%;
    /* Set the width to 100% to occupy the entire available space */
    max-width: 400px;
    /* Optionally, set a maximum width to limit the width */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#add-keyword-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.optional-label {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.text-center.explain {
    font-family: "Nunito";
}

#keyword-input::placeholder,
#email-input::placeholder {
    font-size: 12px;
    /* Adjust the font size as per your preference */
}


/* Media Query for Desktop Devices */
@media (min-width: 767px) {
    form.py-5 {
        padding: 3rem;
    }
}