/* static/css/tscoop.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #8bbdff2e;
    background-image: url("../images/transparent-icecream-cone-5percent.png");
    background-size: 10%;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    font-family: 'Nunito', cursive;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: #4a4a4a;
    font-family: 'Pacifico', cursive;
}

h5 {
    font-size: 0.8rem;
    color: #4a4a4a;
    margin-bottom: 30px;
}

.text-center.explain {
    font-family: "Nunito";
}

form {
    background-color: rgba(255, 255, 255, 0);
    padding: 0.5rem;
    border: none;
}

.form-group {
    position: relative;
}

.row {
    display: flex;
    align-items: center;
}

.keyword-bubble {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    background-color: #f5a623;
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
}

.keyword-bubble .remove {
    margin-left: 5px;
    cursor: pointer;
}

#keywords-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    /* border: 1px solid #cccccc; */
    border-radius: 5px;
}

input[type="text"].form-control {
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 0;
}

button[type="submit"] {
    background-color: #f5a623;
    border: none;
}

input[type="email"] {
    width: 100%;
    /* Set the width to 100% to occupy the entire available space */
    max-width: 400px;
    /* Optionally, set a maximum width to limit the width */
    margin-top: 0.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#add-keyword-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.optional-label {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

#keyword-input::placeholder,
#email-input::placeholder {
    font-size: 12px;
    /* Adjust the font size as per your preference */
}


/* Media Query for Desktop Devices */
@media (min-width: 1024px) {
    form.py-5 {
        padding: 3rem;
    }

    body {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 3.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    #keyword-input::placeholder,
    #email-input::placeholder {
        font-size: 12px;
        /* Adjust the font size as per your preference */
    }

    input[type="email"] {
        width: 100%;
        /* Set the width to 100% to occupy the entire available space */
        max-width: 400px;
        /* Optionally, set a maximum width to limit the width */
    }
}

@media (max-width: 767px) {
    .form-group {
        display: flex;
        flex-direction: column;
    }

    .col-md-auto {
        margin-top: 10px;
    }

    .col-md-auto button[type="submit"] {
        width: 100%;
    }
}

.todays-scoops-link {
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
}

.todays-scoops-link a {
    color: #f5a623;
    text-decoration: none;
}

.todays-scoops-link a:hover {
    text-decoration: underline;
}

/* Thank You Modal Styling */
#thankYouModal .modal-dialog {
    max-width: 400px;
}

#thankYouModal .modal-content {
    background-color: #e0e2e5;
    background-image: url("../images/transparent-icecream-cone-5percent.png");
    /* background-size: 10%; */
    /* background-repeat: repeat; */
    /* background-attachment: fixed; */
    border: none;
}

#thankYouModal .modal-header {
    display: flex;
    justify-content: center;
}

#thankYouModal .modal-title {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #4a4a4a;
    margin: 0 auto;
    text-align: center;
}

#thankYouModal .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #4a4a4a;
}

#thankYouModal .modal-body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #4a4a4a;
    padding: 10px 15px;
}

#thankYouModal .modal-footer {
    border-top: none;
    padding: 10px 15px;
}

#thankYouModal .btn-primary {
    background-color: #f5a623;
    border: none;
}

#thankYouModal .btn-primary:hover,
#thankYouModal .btn-primary:focus {
    background-color: #d89219;
    border: none;
}