.narrative {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 40%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 40%;
    color: rgb(173, 173, 173);
}

/* ------------------------------------ */
/* title step */
/* ------------------------------------ */

.step.title-step {
    margin: 20% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    font-weight: 200;
}

/* ------------------------------------ */
/* title step */
/* ------------------------------------ */

.step.narrative-step {
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------ */
/* map */
/* ------------------------------------ */

#map-container {
    height: 50%;
    width: 100%;
}

#map {
    height: 600px;
    width: 90%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* ------------------------------------ */
/* CAROUSEL */
/* ------------------------------------ */

/* .carousel {
    margin: 80px 0;
} */

.carousel-cell {
    width: 90%;
    height: 800px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/* ------------------------------------ */
/* SCROLLY */
/* ------------------------------------ */

.step {
    margin: 5% 0;
}

.subtitle {
    text-align: center;
    padding: 1rem;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(148, 143, 143);
}

/* ------------------------------------ */
/* mobile */
/* ------------------------------------ */

@media (max-width: 480px) {
    #title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 200;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        width: 100%;
        color: rgb(148, 143, 143);
    }

    .narrative:not(.lead) {
        margin: 20% 0;
    }

    .narrative {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        width: 90%;
    }

    .barplot {
        width: 40%;
    }
}