<!DOCTYPE html>
{% extends 'themind/base.html' %}
{% block body_block %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Room</title>
    <link rel="stylesheet" href="{% static 'css/themind.css' %}">
</head>
<body>
    <div class="room-selection">
        <h1>Select a Room Name</h1>
        <form action="/themind/set-room-name/" method="post">
            {% csrf_token %}
            <input type="text" name="user_name" placeholder="Enter your name..." required>
            <input type="text" name="room_name" placeholder="And room name..." required>
            <button type="submit">Proceed</button>
        </form>
    </div>
</body>
</html>
{% endblock %}