<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game Numbers</title>
</head>
<link rel="stylesheet" href="{% static 'css/themind.css' %}">
<body>
    <h1>Your numbers are:</h1>
    <div class="card-container">
        <div class="card" onclick="toggleHighlight(this)">{{ number1 }}</div>
        <div class="card" onclick="toggleHighlight(this)">{{ number2 }}</div>
    </div>
    
    <form action="{% url 'delete_all_numbers' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete All Generated Numbers</button>
    </form>

    <script>
        function toggleHighlight(cardElement) {
            cardElement.classList.toggle('selected');
        }
    </script>
</body>
</html>