<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game Numbers</title>
</head>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/themind.css' %}">
<script>
    let socket;
    
    document.addEventListener("DOMContentLoaded", function() {
        socket = new WebSocket('ws://' + window.location.host + '/ws/cards/');
        
        socket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var card = data['card'];
            displaySubmittedCard(card);
        };
    });

    function toggleHighlight(cardElement) {
        console.log(cardElement)
        cardElement.classList.toggle('selected');
    }

    function submitCard(cardValue) {
        if (socket) {
            socket.send(JSON.stringify({
                'card': cardValue
            }));
        }
    }

    function displaySubmittedCard(cardValue) {
        const container = document.querySelector('.submitted-cards');
        const cardElem = document.createElement('div');
        cardElem.className = 'card';
        cardElem.textContent = cardValue;
        container.appendChild(cardElem);
    }
</script>
<body>
    <h1>Your numbers are:</h1>
    <div class="card-container">
        <div class="card" onclick="toggleHighlight(this)" data-value="{{ number1 }}">{{ number1 }}</div>
        <div class="card" onclick="toggleHighlight(this)" data-value="{{ number2 }}">{{ number2 }}</div>
    </div>

    <button onclick="submitSelectedCard()">Submit Card</button>
    
    <form action="{% url 'delete_all_numbers' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete All Generated Numbers</button>
    </form>

    <div class="submitted-cards">
        <h2>Submitted Cards:</h2>
        <!-- Submitted cards will be shown here -->
    </div>

    <script>
        function submitSelectedCard() {
            const selectedCards = document.querySelectorAll('.card.selected');
            if (selectedCards.length) {
                const cardValue = selectedCards[0].getAttribute('data-value');
                submitCard(cardValue);
                toggleHighlight(selectedCards[0]); // Deselect after submitting
            } else {
                alert('Please select a card to submit.');
            }
        }
    </script>
</body>
</html>